// use ./_form_init.scss
@use "./_form_init.scss";

h2 {
	width: 100%;
	font-size: 3.5em;
	line-height: 1em;
	color: #004EA2;
	font-weight: bold;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	overflow: hidden;
	@media screen and (max-width:1000px) {
		font-size: 2.0rem;
		line-height: 1.5;
	}
}

.text {
	margin: 0;
	padding: 10px;
	font-size: 1.5rem;
	line-height: 1.5em;

	@media screen and (min-width:700px) and (max-width:980px) {
		margin: 0;
		padding: 10px;
		font-size: 1.5rem;
		line-height: 1.5em;
	}

	@media screen and (max-width:700px) {
		margin: 0;
		padding: 10px;
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

header {
	// border-bottom: 1px solid #CCC;
	margin-bottom: 0;

	h1 {
		width: 100%;
		height: 120px;
		margin: 0;
		padding: 20px 0;
		border-top: 5px solid #004EA2;
		border-bottom: 1px solid #999;
		overflow: hidden;
		text-align: center;


		img {
			height: 100%;
			width: auto;
		}
	}

	.titie-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;

		@media screen and (min-width:700px) and (max-width:980px) {
			padding: 0 10px;
		}
	}

	.step-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;

		.step-box {
			width: 100%;
			border-bottom: 1px solid #CCC;
			background-color: #FAFAFA;
			margin-bottom: 5rem;


			.step {
				width: 100%;
				max-width: 960px;
				margin: 0 auto;
				border-right: 1px solid #CCC;
				background-color: white;

				@media screen and (min-width:700px) and (max-width:980px) {
					width: 100%;
					padding: 0;
					border-right: none;
				}

				dl {
					display: block;
					float: left;
					width: 25%;
					padding: 0;
					background-image: url("../src/png/next_dl.png");
					background-size: auto 100%;
					background-repeat: no-repeat;
					background-position: left top;


					&.active {
						background-color: #004EA2;
						color: white;
						background-image: none;

						dt {
							padding: 7px 10px 7px 10px;
							color: white;
						}

						dd {
							padding: 0 10px 7px 10px;
						}
					}

					&.next {
						background-color: white;
						background-image: url("../src/png/next_arrow.png");
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: left top;
						border-left: 1px solid #004EA2;
					}

					&:first-child {
						@media screen and (min-width:700px) and (max-width:980px) {
							border-left: none;
						}
					}

				}

				dt {
					width: 100%;
					font-weight: bold;
					text-align: center;
					padding: 7px 10px 7px 47px;
					font-size: 1.8rem;
					line-height: 1em;
					color: #004EA2;
					@media screen and (max-width:1000px) {
						font-size: 1.6rem;
						padding: 7px 10px 7px 12px;
					}
				}

				dd {
					width: 100%;
					text-align: center;
					padding: 0 10px 7px 47px;
					font-size: 1.3rem;
					line-height: 1em;
					@media screen and (max-width:1000px) {
						display: none;
					}
				}
			}


		}
	}


}

main {
	.container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;



		.content-container {
			.agreement {
				@media screen and (min-width:700px) and (max-width:980px) {
					padding: 0 10px;
				}

				@media screen and (max-width:700px) {
					padding: 7px !important;
				}

				h3 {
					width: 100%;
					border: 1px solid #004EA2;
					background-color: #004EA2;
					color: white;
					text-align: center;
					padding: 15px;
					border-radius: 5px 5px 0 0;
					border-bottom: none;
					font-weight: normal;
					font-size: 2.2em;
					line-height: 1em;
				}

				hr {
					width: 100%;
					height: 0;
					border-top: 1px solid #CCC;
					border-bottom: none;
					margin: 4rem 0;

					@media screen and (max-width:700px) {
						margin: 2rem 0;
					}
				}

				.ifm-container {
					width: 100%;
					height: 400px;
					overflow: auto;
					-webkit-overflow-scrolling: touch;
				}

				.ifm01 {
					width: 100%;
					text-align: center;
					padding: 15px;
					height: 360px;
					border: 1px solid #004EA2;
					border-radius: 0 0 5px 5px;
					border-top: none;

					@media screen and (min-width:700px) and (max-width:980px) {
						width: 100%;
						text-align: center;
						padding: 12px;
						height: 100%;
						border: 1px solid #004EA2;
						border-radius: 0 0 5px 5px;
						border-top: none;
					}

					@media screen and (max-width:700px) {
						width: 100%;
						text-align: center;
						padding: 12px;
						height: 100%;
						border: 1px solid #004EA2;
						border-radius: 0 0 5px 5px;
						border-top: none;
					}

					iframe {
						border: none;
						overflow-y: scroll;
						width: 100%;
						height: 100%;

						@media screen and (min-width:700px) and (max-width:980px) {
							width: 100%;
							height: 100%;
						}

						@media screen and (max-width:700px) {
							width: 100%;
							height: 100%;
							border: none;
							overflow-y: scroll;
						}
					}
				}

				.ifm02 {
					width: 100%;
					text-align: center;
					padding: 15px;
					height: 360px;
					border: 1px solid #004EA2;
					border-radius: 0 0 5px 5px;
					border-top: none;

					@media screen and (min-width:700px) and (max-width:980px) {
						width: 100%;
						text-align: center;
						padding: 15px;
						height: 100%;
						border: 1px solid #004EA2;
						border-radius: 0 0 5px 5px;
						border-top: none;
					}

					iframe {
						border: none;
						overflow-y: scroll;
						width: 100%;
						height: 100%;

						@media screen and (min-width:700px) and (max-width:980px) {
							border: none;
							overflow-y: scroll;
							width: 100%;
							height: 100%;
						}
					}
				}

				.notice {
					width: 100%;
					border: 3px solid #004EA2;
					border-radius: 5px;
					padding: 15px;
					margin: 20px 0;



					.error-notice {
						width: 60vw;
					}


					p {
						text-align: center;
						font-size: 1.8em;
						margin: 0;
						padding-right: 100px;
						padding-left: 100px;

						@media screen and (min-width:700px) and (max-width:980px) {
							text-align: center;
							font-size: 1.5em;
							margin: 0;
							padding-right: 10px;
							padding-left: 10px;
						}

						@media screen and (max-width:700px) {
							text-align: center;
							font-size: 1.2em;
							margin: 0;
							padding-right: 10px;
							padding-left: 10px;
						}
					}

					input[type=radio] {
						display: none;

						&+label {
							display: block;
							width: 35%;
							height: 3em;
							border-radius: 1.5em;
							background-color: #F0F0F0;
							margin: 16px 0 15px 10%;
							line-height: 3em;
							text-align: center;
							font-size: 2.1rem;
							font-weight: normal;
							float: left;
							position: relative;

							@media screen and (max-width:700px) {

								width: 100% !important;
								margin: 2rem auto 0 auto;

							}

							@media screen and (min-width:700px) and (max-width:980px) {
								width: 100% !important;
								margin: 2rem 0 1rem 0;
							}
						}

						&+label::before {
							display: block;
							content: "";
							width: 3rem;
							height: 3rem;
							border: 1px solid #CCC;
							top: 1.5rem;
							left: 1.5rem;
							border-radius: 50%;
							float: left;
							position: absolute;
							background-color: white;
						}

						&:checked+label {
							border: 3px solid #004EA2 !important;
							color: #004EA2 !important;
							font-weight: bold;
							position: relative;
							background-color: white;
							line-height: 2.9em;
						}

						&:checked+label::before {
							display: block;
							content: "";
							width: 3rem;
							height: 3rem;
							border: none;
							border-radius: 50%;
							top: 1.4rem;
							left: 1.5rem;
							background-color: #004EA2;
							position: absolute;
						}



					}

					dl {
						margin: 0;
						padding: 0;
					}

					input[type=checkbox] {
						display: none;

						&+label {
							display: block;
							font-size: 1.75rem;
							line-height: 1em;
							margin-bottom: 5px;
							background-color: white;
							padding: 10px;

							@media screen and (min-width:700px) and (max-width:980px) {
								display: block;
								font-size: 1.2em;
								line-height: 1em;
								margin-bottom: 5px;
								background-color: white;
								padding: 10px;
							}

							@media screen and (max-width:700px) {
								display: block;
								font-size: 1.2rem;
								line-height: 1em;
								margin-bottom: 5px;
								background-color: white;
								padding: 10px;
							}
						}

						&+label:hover {
							background-color: #004EA2;
							color: white;
						}

						&+label::before {
							content: "";
							width: 2rem;
							height: 2rem;
							border: 2px solid #004EA2;
							background-color: white;
							border-radius: 4px;
							display: block;
							float: left;
							margin-right: 10px;
							box-sizing: border-box;
							color: black;
							padding-top: 7px;
						}

						&:checked+label::before {
							content: '\02714';
							text-align: left;
							font-weight: bold;
							padding-top: 0px;
							box-sizing: border-box;
						}
					}

				}

				.allCheck {
					margin: 2rem auto;
					border-radius: 5px;
					padding: 1.8rem 5rem;
					background-color: white;
					border: 2px solid #004EA2;
					font-size: 1.7rem;
					font-weight: bold;

					&:hover {
						border: 2px solid #004EA2;
						background-color: #004EA2;
						color: white;
					}
				}

				.formarea {
					width: 100%;
					text-align: left;
					padding: 15px;
					border: 1px solid #004EA2;
					border-radius: 0 0 5px 5px;
					border-top: none;

					@media screen and (max-width:700px) {
						padding: 7px !important;
					}

					h4 {
						font-size: 1.9em;
						font-weight: bold;
						margin: 10px 0 0 0;
						text-align: left;
						padding-left: 5px;
					}

					.comment {
						margin: 0;
						padding: 5px;
						background-color: #FFFDE7;
						text-align: left;
						font-size: 1.5rem;
						border: 1px solid #CCC;
						border-radius: 5px;

						@media screen and (min-width:700px) and (max-width:980px) {
							margin: 0;
							padding: 5px;
							background-color: #FFFDE7;
							text-align: left;
							font-size: 1.5rem;
							border: 1px solid #CCC;
							border-radius: 5px;
						}

						@media screen and (max-width:700px) {
							margin: 0;
							padding: 5px;
							background-color: #FFFDE7;
							text-align: left;
							font-size: 1.0rem;
							border: 1px solid #CCC;
							border-radius: 5px;
						}
					}

					.sub {
						margin-top: 5px;
						font-size: 1.3rem;
						text-align: left;
						line-height: 1em;
						color: #333;

						@media screen and (min-width:700px) and (max-width:980px) {
							margin-top: 5px;
							font-size: 1.5rem;
							text-align: left;
							line-height: 1em;
							color: #333;
						}

						@media screen and (max-width:700px) {
							margin-top: 5px;
							font-size: 1.5em;
							text-align: left;
							line-height: 1em;
							color: #333;
						}
					}

					.step2-table {
						width: 100% !important;
						border-collapse: collapse;
						font-size: 1.5em;
						box-sizing: border-box !important;

						@media screen and (min-width:700px) and (max-width:980px) {
							width: 100% !important;
							border-collapse: collapse;
							font-size: 1.5rem;
							box-sizing: border-box !important;
						}

						@media screen and (max-width:700px) {
							width: 100% !important;
							border-collapse: collapse;
							font-size: 1.0rem;
							box-sizing: border-box !important;
						}

						th,
						td {
							border: 1px solid #CCC;
						}

						th {
							font-weight: normal;
							vertical-align: middle;
							background-color: #E0F7FA;
							padding: 15px;
							width: 25%;

							// @media screen and (max-width:700px) {
							// 	display: none;
							// }
						}

						td {
							padding: 15px;

							@media screen and (max-width:700px) {
								padding: 10px;
							}
						}

						input,
						select {
							border: 1px solid #CCC;
							border-radius: 6px;
							padding: 10px;
							font-size: 1.6rem;
						}

						input:hover,
						input:focus,
						select:hover {
							background-color: #FFFDE7;
						}

						.zipCode1,
						.bldstZipCode1 {
							width: 3em;
						}

						.zipCode2,
						.bldstZipCode2 {
							width: 4em;
						}

						input[type="email"] {
							width: 100%;
						}

						.mb05 {
							margin-bottom: 5px;
						}

						.mb10 {
							margin-bottom: 10px;
						}

						.mb50 {
							margin-bottom: 50px;
						}

						input[type="file"] {
							width: 100%;
						}

						.sp700,
						.sp700txt {
							display: none;
						}

						.sp700 {
							@media screen and (max-width:700px) {
								display: block;
								font-weight: bold;
								color: #004EA2;
								width: 100%;
								padding: 5px;
								line-height: 1em;
								margin: 0 0 5px 0;
								border-left: 3px solid #004EA2;
							}
						}

						.sp700txt {
							@media screen and (max-width:700px) {
								display: block;
								width: 100%;
								padding: 5px;
								font-size: 1.5em !important;
								line-height: 1.3em;
								text-align: left !important;
							}
						}

						.error-notice{
							padding-top: 1.333vw;
							font-size: 1em;
						}





					}

					.uploaddeny {
						margin: 0;
						padding: 15px;
						background-color: #FFFDE7;
						text-align: left;
						font-size: 1.5em;
						border: 1px solid #CCC;
						border-radius: 5px;

						@media screen and (min-width:700px) and (max-width:980px) {
							margin: 0;
							padding: 15px;
							background-color: #FFFDE7;
							text-align: left;
							font-size: 1.5rem;
							border: 1px solid #CCC;
							border-radius: 5px;
						}

						@media screen and (max-width:700px) {
							margin: 0;
							padding: 15px;
							background-color: #FFFDE7;
							text-align: left;
							font-size: 1.2rem;
							border: 1px solid #CCC;
							border-radius: 5px;
						}
					}

				}
			}

		}

		.next_step {
			.nextstep {
				margin: 2rem auto;
				border-radius: 5px;
				padding: 2.5rem 5rem;
				background-color: white;
				border: 3px solid #004EA2;
				font-size: 2em;
				color: #004EA2;
				font-weight: bold;
				width: 68%;
				box-sizing: border-box !important;

				@media screen and (min-width:700px) and (max-width:980px) {
					width: calc(100% - 20px);
					margin: 2rem 10px;
					font-size: 1.5em;
				}

				@media screen and (max-width:700px) {
					margin: 7px;
					border-radius: 5px;
					padding: 10px;
					background-color: white;
					border: 3px solid #004EA2;
					font-size: 1.3em;
					color: #004EA2;
					font-weight: bold;

				}

				&:hover {
					background-color: #004EA2;
					color: white;
				}


			}

			#step1_back_btn {
				width: 30%;
				float: left;

				@media screen and (max-width:700px) {
					float: none;
					width: calc(100% - 15px);
					margin-bottom: 5px;
				}
			}

			#step2_next_btn {
				width: 65%;
				float: right;

				@media screen and (min-width:700px) and (max-width:980px) {
					width: 60%;
					float: right;
				}

				@media screen and (max-width:700px) {
					width: 60%;
					float: right;

				}
			}

			#step2_back_btn {
				width: 30%;
				float: left;

				@media screen and (max-width:700px) {
					float: none;
					width: calc(100% - 15px);
					margin-bottom: 5px;
				}
			}

			#step3_next_btn {
				width: 65%;
				float: right;

				@media screen and (min-width:700px) and (max-width:980px) {
					width: 60%;
					float: right;
				}

				@media screen and (max-width:700px) {
					width: 60%;
					float: right;
				}
			}

			#step3_back_btn {
				width: 30%;
				float: left;

				@media screen and (min-width:700px) and (max-width:980px) {
					width: 60%;
					float: right;
				}

				@media screen and (max-width:700px) {
					float: none;
					width: calc(100% - 15px);
					margin-bottom: 5px;
				}
			}

			#step4_next_btn {
				width: 65%;
				float: right;

				@media screen and (max-width:700px) {
					width: 60%;
					float: right;
				}
			}



		}

	}
}


footer {
	clear: both;
	position: static;
	bottom: 0;
	left: 0;
	background-color: #004EA2;
	color: white;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 3em;
	height: 3em;
	text-align: center;
	vertical-align: middle;
	@media screen and (max-width:1000px) {
		font-size: 1.6em;
	}
}